<html>
<h1>Update {{planet.name}}:</h1>
<form id="update-planet" action="/planets" method="post">
    Name: <input type="text" name="name" value= "{{planet.name}}"><br>
    Population size: <input type="number" name="populationSize" value="{{planet.populationSize}}"><br>
	<br>
 </form>
<button onclick="updatePlanet({{planet.id}})">Update</button>

        <br>
        <td><a href="/heroes">Cancel</a></td>
</html>